<p>sample works!</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        <th>City</th>
        <th>Country</th>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
         <tr>
            <td>John</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
         <tr>
            <td>John</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
    </tbody>
</table>